@charset 'utf-8';
@use 'sass:math';
@use '../fundation/variable' as *;
@use '../fundation/mixin' as *;
@use '../fundation/function' as *;

// コンテンツ
.l-wrapper {
  padding-top: $lgHeaderHeight;

  @include media(sm) {
    padding-top: $smHeaderHeight;
  }
}

// PCのみ表示
.l-lg {
  @include media(sm) {
    display: none !important;
  }
}

// スマホのみ表示
.l-sm {
  @include media(lg) {
    display: none !important;
  }
}
