@charset 'utf-8';
@use 'sass:math';
@use '../fundation/variable' as *;
@use '../fundation/mixin' as *;
@use '../fundation/function' as *;

.l-footer {
  padding: 64px 0 72px;
  background-color: #3C322A;
  &__inner {
    text-align: center;
    &--logo {
      margin-bottom: 48px;
      a {
        display: block;
      }
    }
    nav {
      margin-bottom: 56px;
      ul {
        display: flex;
        justify-content: center;
        li {
          a {
            font-family: $ff-en;
            color: #fff;
            @include fz(14, true, false, 400, 100);
          }
          &:nth-child(n + 2) {
            margin-left: 32px;
          }
        }
      }
    }
    small {
      @include fz(12, true, false, 400, 100);
      font-family: $ff-en;
      color: #aaa;
    }  
  }
  @include media(sm) {
    padding: vh(48) 0;
    &__inner {
      &--logo {
        margin-bottom: vh(32);
      }
      nav {
        margin-bottom: vh(40);
        ul {
          li {
            a {
              @include fz(13, true);
            }
            &:nth-child(n + 2) {
              margin-left: vw(32);
            }
          }
        }
      }
      small {
        @include fz(11, true);
      }  
    }
  }
}