@charset 'utf-8';
@use 'sass:math';
@use '../fundation/variable' as *;
@use '../fundation/mixin' as *;
@use '../fundation/function' as *;

.c-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $ff-en;
  @include fz(18, true, false, 400, 100);
  color: #fff;
  background-color: #3C322A;
  width: 320px;
  height: 72px;
  border-radius: 36px;

  @include media(sm) {
  }
}